@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'New Rocker', cursive;
    background:rgba(143, 197, 211, 0.3) url(bg.jpg) center center;
    background-blend-mode: multiply;
    background-size: contain;
}
h1{
    text-align: center;
    margin:2rem;
    font-size:3rem;
    letter-spacing: 5px;
    color: whitesmoke;
    -webkit-text-stroke:2px rgb(236, 122, 29)
}
.loader{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.loader img{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.image-container{
    margin:10px 30%;
}
.image-container img{
    width: 100%;
    margin-top:5px ;
}
@media screen and (max-width:600px){
    h1{
        font-size:1rem;
        -webkit-text-stroke:0.8px rgb(236, 122, 29)
    }
    .image-container{
        margin:10px 0;
    }
}